/AvaliaçãoP1/nbproject/private/
/AvaliacaoP1/nbproject/private/
AvaliacaoP1/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
/AvalicaoP1/nbproject/private/
/Projeto01/nbproject/private/
/Projeto01/build/
/AvaliacaoP1/build/